In [1]:
!pip install pandas==1.0.4

Requirement already satisfied: pandas==1.0.4 in c:\users\hp\anaconda3\envs\demo1\lib\site-packages (1.0.4)
Requirement already satisfied: numpy>=1.13.3 in c:\users\hp\anaconda3\envs\demo1\lib\site-packages (from pandas==1.0.4) (1.18.4)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\hp\anaconda3\envs\demo1\lib\site-packages (from pandas==1.0.4) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\hp\anaconda3\envs\demo1\lib\site-packages (from pandas==1.0.4) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\envs\demo1\lib\site-packages (from python-dateutil>=2.6.1->pandas==1.0.4) (1.16.0)

In [2]:
!pip install numpy==1.18.4

Requirement already satisfied: numpy==1.18.4 in c:\users\hp\anaconda3\envs\demo1\lib\site-packages (1.18.4)

In [3]:
!pip install joblib==0.15.1

Requirement already satisfied: joblib==0.15.1 in c:\users\hp\anaconda3\envs\demo1\lib\site-packages (0.15.1)

In [4]:
!pip install scikit-learn==0.23.2

Requirement already satisfied: scikit-learn==0.23.2 in c:\users\hp\anaconda3\envs\demo1\lib\site-packages (0.23.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\envs\demo1\lib\site-packages (from scikit-learn==0.23.2) (3.1.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\hp\anaconda3\envs\demo1\lib\site-packages (from scikit-learn==0.23.2) (1.18.4)
Requirement already satisfied: scipy>=0.19.1 in c:\users\hp\anaconda3\envs\demo1\lib\site-packages (from scikit-learn==0.23.2) (1.5.4)
Requirement already satisfied: joblib>=0.11 in c:\users\hp\anaconda3\envs\demo1\lib\site-packages (from scikit-learn==0.23.2) (0.15.1)

In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
import joblib

In [7]:
# Load the dataset

df = pd.read_csv('heart.csv')

In [8]:
#first 5 rows
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [10]:
# Preprocess the data
df = df.dropna()

In [11]:
#using replace method for other categorical data
df['Sex'] =df['Sex'].replace({'M':0,'F':1})
df['ExerciseAngina'] =df['ExerciseAngina'].replace({'N':0,'Y':1})
df['ChestPainType'] =df['ChestPainType'].replace({'ATA':0,'NAP':1,'ASY':2,'TA':3})
df['RestingECG'] =df['RestingECG'].replace({'LVH':0,'Normal':1,'ST':2})
df['ST_Slope'] =df['ST_Slope'].replace({'Down':0,'Up':1,'Flat':2})

In [12]:
#first 5 rows
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,0,0,140,289,0,1,172,0,0.0,1,0
1,49,1,1,160,180,0,1,156,0,1.0,2,1
2,37,0,0,130,283,0,2,98,0,0.0,1,0
3,48,1,2,138,214,0,1,108,1,1.5,2,1
4,54,0,1,150,195,0,1,122,0,0.0,1,0

In [13]:
#datatypes info
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    int64
 2   ChestPainType   918 non-null    int64
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    int64
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    int64
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    int64
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(11)
memory usage: 93.2 KB

In [17]:
df.HeartDisease.value_counts()

1    508
0    410
Name: HeartDisease, dtype: int64

In [18]:
df.describe()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,0.210240,1.452070,132.396514,198.799564,0.233115,0.989107,136.809368,0.404139,0.887364,1.432462,0.553377
std,9.432617,0.407701,0.851832,18.514154,109.384145,0.423046,0.631671,25.460334,0.490992,1.066570,0.618959,0.497414
min,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,60.000000,0.000000,-2.600000,0.000000,0.000000
25%,47.000000,0.000000,1.000000,120.000000,173.250000,0.000000,1.000000,120.000000,0.000000,0.000000,1.000000,0.000000
50%,54.000000,0.000000,2.000000,130.000000,223.000000,0.000000,1.000000,138.000000,0.000000,0.600000,2.000000,1.000000
75%,60.000000,0.000000,2.000000,140.000000,267.000000,0.000000,1.000000,156.000000,1.000000,1.500000,2.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,603.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,1.000000

In [14]:
X = df.drop('HeartDisease', axis=1)
y = df['HeartDisease']

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
# Train the model
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [16]:
# Evaluate the model
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')
print(classification_report(y_test, y_pred))

Accuracy: 0.88
              precision    recall  f1-score   support

           0       0.85      0.86      0.85        77
           1       0.90      0.89      0.89       107

    accuracy                           0.88       184
   macro avg       0.87      0.87      0.87       184
weighted avg       0.88      0.88      0.88       184

In [20]:
# Save the model
joblib.dump(model, 'heart_predict_test.pkl')

['heart_predict_test.pkl']

In [21]:
#testing model
m=joblib.load('heart_predict_test.pkl')
m.predict([[40,0,0,140,289,0,1,172,0,0,1]])

array([0], dtype=int64)